<section id="conteiner-dados">
    <div class="content-dados">
        <p>CARTÃO</p>
        <input type="text" id="Cartão" placeholder="Numero do Cartão">
        <div class="linha-pequena">
            <input type="text" id="CVV" placeholder="CVV">
            <input type="text" id="validade" placeholder="Data de validade">
        </div>
        <div class="actions">
            <button class="gerar">Gerar</button>
            <button class="validar">Validar</button>
        </div>
        <button class="copiar">Copiar</button>
    </div>
</section>