<head>
    <link rel="stylesheet" href="../../../src/css/style.css">
</head>
<section id="conteiner-dados">
<div class="content-dados">
    <p>CPF</p>
    <input type="text" id="displayCpf">

    <div class="actions">
        <button class="gerar" id="cpfgerar">Gerar</button>
        <button class="validar" id="cpfvalidar">Validar</button>
    </div>

    <button class="copiar" id="cpfcopiar">Copiar</button>
</div>
<div class="content-dados">
    <p>RG</p>
    <input type="text">

    <div class="actions">
        <button class="gerar">Gerar</button>
        <button class="validar">Validar</button>
    </div>

    <button class="copiar">Copiar</button>
</div>
</section> 